#bin {
    display: none;
}

#New_Game {
    border: 1px solid black;
    font-size: 50px;
    float: center;
    margin-left: 20vw;
    background-color: rgb(182, 142, 13);
}

input {
    font-size: 2vh;
    width: 10vw;
    border: 1px solid black;
    margin-bottom: 2vh;
}

h1 {
    font-size: 2vh;
    display: inline;
    margin-left: 15vw
}

#Won {
    color: green
}

#Lost {
    color: red;
}

